// Colors
// ======

$white: #ffffff;
$grey: #c0d4db;
$blue: #002fa7;
$black: #000000;

// Breakpoints
// ===========

// $smartphone: 480px;
// $tabletPortrait: 767px;
// $tabletLandscape: 1024px;
// $desktop: 1174px;

// Sprites
// =======

//$spriteSpacing: 2px;
//$spriteIcons: sprite-map("sprite_icons/*.png", $spacing: $spriteSpacing);

// Font sizes
// ==========

$paragrah: 12px;
$name: 20px;
$title: 36px;
$over: 80px;
$letter: 262px;


// Font families
// =============

$ubuntuCondensed: "Ubuntu Condensed", sans-serif;
$ptSans: "PT Sans", sans-serif;
$georgia: Georgia, serif;
$mostraNuova: "Mostra Nuova", sans-serif;


// Fontface
// ========

@include font-face("Mostra Nuova", font-files("mostra_nuova_bold.woff", "mostra_nuova_bold.ttf", "mostra_nuova_bold.svg"), "mostra_nuova_bold.eot");
