<div id="projectList">
    <section>
        {% set sortedProjects = projects|sort(false, false, "position") %}
        {% for project in sortedProjects %}

            {% set pushed = "" %}

            {% if project.big %}
                {% set width = 1180 %}
                {% set height = 405 %}
                {% set grid_size = 15 %}
            {% else %}
                {% set width = 540 %}
                {% set height = 540 %}
                {% set grid_size = 7 %}
            {% endif %}

            {% if project.big %}
                <div class="cf home-bottom-margin">
                    {% include "partials/project_template.html" %}
                </div>

            {% elif loop.first or sortedProjects[loop.index0 - 1].big %}
                <div class="cf home-bottom-margin">
                    {% include "partials/project_template.html" %}

                    {% if sortedProjects[loop.index0 + 1] and not sortedProjects[loop.index0 + 1].big %}

                        {% set project = sortedProjects[loop.index0 + 1] %}
                        {% set pushed = "push-1" %}

                        {% include "partials/project_template.html" %}

                    {% endif %}
                </div>
            {% endif %}

        {% endfor %}
    </section>

    <span class="letter grid-1 push-5">A</span>
    <span class="letter grid-1 push-11">R</span>
    <span class="letter grid-1 push-4">T</span>
    <span class="letter grid-1 push-10">H</span>
    <span class="letter grid-1 push-2">U</span>
    <span class="letter grid-1 push-7">R</span>
    <span class="letter grid-1 push-4">M</span>
    <span class="letter grid-1 push-10">U</span>
    <span class="letter grid-1 push-5">C</span>
    <span class="letter grid-1 push-11">H</span>
    <span class="letter grid-1 push-4">I</span>
    <span class="letter grid-1 push-9">R</span>
</div>
