<div class="container">
    <nav class="grid-3 push-6">
        <ul>
            <li class="is-hidden"><a href="#">Home</a></li><li><a href="#">About</a></li>
        </ul>
    </nav>
    <section>
        <div class="cf home-bottom-margin">
            <a href="#">
                <article class="grid-7 inside-border">
                    <div class="over-effect">
                        <img src="/static/img/arthur-muchir_hermes-cover.jpg" alt="" width="540" height="540" class="gray-filter">
                    </div>
                    <h1>Hermès Collection</h1>
                </article>
            </a>
            <a href="#">
                <article class="grid-7 push-1 inside-border">
                    <div class="over-effect">
                        <img src="/static/img/arthur-muchir_hermes-cover.jpg" alt="" width="540" height="540" class="gray-filter">
                    </div>
                    <h1>Hermès Collection</h1>
                </article>
            </a>
        </div>
        <div class="cf home-bottom-margin">
            <a href="#">
                <article class="grid-15 inside-border">
                    <div class="over-effect">
                        <img src="/static/img/arthur-muchir_onemore-cover.jpg" alt="" width="1180" height="405" class="gray-filter">
                    </div>
                    <h1>Hermès Collection</h1>
                </article>
            </a>
        </div>
    </section>

    <span class="letter grid-1 push-5">A</span>
    <span class="letter grid-1 push-11">R</span>
    <span class="letter grid-1 push-4">T</span>
    <span class="letter grid-1 push-10">H</span>
    <span class="letter grid-1 push-2">U</span>
    <span class="letter grid-1 push-7">R</span>
    <span class="letter grid-1 push-4">M</span>
    <span class="letter grid-1 push-10">U</span>
    <span class="letter grid-1 push-5">C</span>
    <span class="letter grid-1 push-11">H</span>
    <span class="letter grid-1 push-4">I</span>
    <span class="letter grid-1 push-9">R</span>

    <!-- <div class="grid-7 push-4 about">
        <div class="about_container">
            <h2>Arthur Muchir</h2>
            <h3>Web creative Engineer at grouek - Paris</h3>
            <div class="close"><div></div></div>
            <p><a href="#">arthur@muchir.fr</a></p>
            <ul><li><a href="#">Linkedin</a></li><li><a href="#">Twitter</a></li><li><a href="#">Github</a></li></ul>
        </div>
    </div> -->
    
    <!--<div class="grid-3 push-1 no-margin-left no-margin-right" style="position: absolute; top: 0">txt</div>
    <div class="cf">
        <div class="grid-11 push-3 no-margin-left no-margin-right">img</div>
    </div> -->
</div>
<!-- <aside>
    <p>salut</p>
    <ul>
        <li>salut</li>
    </ul>
</aside> -->
