<div class="root-view">
    <div class="grid-3 push-1 no-margin-left no-margin-right top-fixed">
        <h1>{{project.title}}</h1>
        <p>{{project.description}}<br><br>
            {% if project.date %}{{project.date|date}}<br><br><br>{% endif %}
            <a href="{{project.link}}" target="blank" class="real">{{project.link}}</a></p>

    </div>
    <div class="cf first-img">
        <div class="grid-11 push-3 no-margin-left no-margin-right">
            {% for med in project.media|sort(false, false, "position") %}
                {% if not loop.first and med.imgName %}
                    <img src="{{med.imgSrc}}" alt="{{med.imgName}}">
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
