{% extends "admin/layout/base.html" %}

{% block content %}
<div class="container">
    <div class="starter-template">
        <form role="form" method="post" action="/login/" class="form-inline">
            <fieldset>
                <legend>Log In</legend>
                <div class="form-group">
                    <label for="inputEmail" class="sr-only">Email Address</label>
                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email Address" maxlength="128" size="25" required>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" size="25" required>
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
            </fieldset>
        </form>
        <p>or <a href="/join/">Join</a></p>
    </div>
</div>
{% endblock %}

{% block footer %}
<script>
    $('button[type=submit]').on('click', function(evt){

        evt.preventDefault();

        var email = $('input[name=email]').val(),
            password = $('input[name=password]').val(),
            formUrl = $('form').attr('action'),
            nc = 1,
            //('00000000' + self.nc).slice(-8)
            generateClientNonce = function(){
                var characters = 'abcdef0123456789',
                    token = '';

                for(var i=0; i<16; i++){
                    var randNum = Math.round(Math.random() * characters.length);
                    token += characters.substr(randNum, 1);
                }

                return token;
            };

        $.ajax({
            type: 'POST',
            url: formUrl,
            statusCode: {
                401: function(res){

                    var responseHeaders = res.getResponseHeader('WWW-Authenticate'),
                        realm = /realm="(.*?)"/i,
                        realm = realm.exec(responseHeaders)[1],
                        nonce = /nonce="(.*?)"/i,
                        nonce = nonce.exec(responseHeaders)[1];

                    $.ajax({
                        type: 'POST',
                        url: formUrl
                    });
                }
            }
        });
    });
</script>
{% endblock %}
