<div ng-include src="'/static/templates/admin/menu.html'"></div>

<div class="container">
    <div class="starter-template">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Link</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="sortable">
                <tr class="warning">
                    <td>1</td>
                    <td>Les ailes d'Hermès</td>
                    <td>juin 2014</td>
                    <td><a href="http://www.google.fr" target="blank">http://lesoeufscaches.milka.fr</a></td>
                    <td><a href="/api/projects/id"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a href="/api/projects/id" data-method="delete"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td><a href="#"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a href="#"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td><a href="#"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a href="#"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $('[data-method]').on('click', function(evt){

        evt.preventDefault();

        $.ajax({
            type: $(this).attr('data-method').toUpperCase(),
            url: $(this).attr('href')
        });
    });
</script>
