<div ng-include src="'/static/templates/admin/menu.html'"></div>

<div class="container">
    <div class="starter-template">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Link</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="sortable" my-drag-list>
                <tr class="warning">
                    <td></td>
                    <td>Les ailes d'Hermès</td>
                    <td>juin 2014</td>
                    <td><a href="http://www.google.fr" target="blank">http://lesoeufscaches.milka.fr</a></td>
                    <td><a href="/api/projects/id"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a ng-click="deleteProject()"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
