<!doctype html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/admin/main.css">
    </head>
    <body>
        <div ng-view></div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-route.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-resource.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

        <script src="/static/js/admin/libs/jquery.md5.js"></script>
        <script src="/static/js/admin/libs/select2.js"></script>
        <script src="/static/js/admin/libs/ui-sortable.js"></script>
        <script src="/static/js/admin/libs/ui-select2.js"></script>
        <script src="/static/js/admin/libs/angular-file-upload.js"></script>

        <script src="/static/js/admin/main.js"></script>
        <script src="/static/js/admin/controllers/login.js"></script>
        <script src="/static/js/admin/controllers/join.js"></script>
        <script src="/static/js/admin/controllers/project-list.js"></script>
        <script src="/static/js/admin/controllers/project-update.js"></script>
        <script src="/static/js/admin/controllers/project-create.js"></script>
        <script src="/static/js/admin/services/digest.js"></script>
        <script src="/static/js/admin/services/project.js"></script>
        <script src="/static/js/admin/services/media-manager.js"></script>
        <script src="/static/js/admin/services/tag-manager.js"></script>
    </body>
</html>
