*, input[type="search"]{
    @include box-sizing(border-box);
}

html{
    background-color: $grey;
}

body{
    font-size: $paragrah;
}

h1{
    font-size: $title;
}

h2{
    font-size: $name;
}

nav{
    font-family: $ptSans;
}

p{
    font-family: $georgia;
}

img{
    display: block;
}
