<div class="grid-7 push-4 about" id="aboutContainer">
    <div class="about_container">
        <h2>Arthur Muchir</h2>
        <h3>Web creative Engineer at grouek - Paris</h3>
        <div class="close" id="aboutClose"><div></div></div>
        <p><a href="#">arthur@muchir.fr</a></p>
        <ul>
            <li><a href="https://www.linkedin.com/in/arthurmuchir" target="blank" class="real">Linkedin</a></li><!--
            --><li><a href="https://twitter.com/arthurmuchir" target="blank" class="real">Twitter</a></li><!--
            --><li><a href="https://github.com/arthurmu" target="blank" class="real">Github</a></li>
        </ul>
    </div>
</div>
