<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/static/css/main.css" rel="stylesheet" type="text/css">

        <link href="http://fonts.googleapis.com/css?family=PT+Sans:700" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet" type="text/css">
    </head>
    <body>
        {% block content %}{% endblock %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        {% if env == 'dev' %}
            <script src="/static/js/libs/libs.js"></script>
            <script src="/static/js/app.js"></script>
        {% else %}
            <script src="/static/js/libs/libs.min.js"></script>
            <script src="/static/js/app.min.js"></script>
        {% endif %}
    </body>
</html>
