<html>
    <head>

    </head>
    <body>
        <div id="t">coool mec</div>

        <script src="/static/js/lib/nunjucks-slim.js"></script>
        <script src="/static/jst/partials/list-projects.js"></script>
        <script src="/static/jst/404.js"></script>
        <script>


            document.getElementById('t').onclick = function(){
                var res = nunjucks.render('partials/list-projects.html');
                document.body.innerHTML += res;
            }
        </script>
    </body>
</html>
