<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/static/css/main.css" rel="stylesheet" type="text/css">

        <link href="http://fonts.googleapis.com/css?family=PT+Sans:700" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
            {% include "layout/menu.html" %}

            <div id="mainRegion">
                {% block content %}{% endblock %}
            </div>

            {% include "layout/about.html" %}
        </div>

        <div id="asideRegion" class="aside">
            {% block aside %}{% endblock %}
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        {% if env == "prod" %}
            <script src="/static/js/libs/libs.min.js"></script>
            <script src="/static/js/app.min.js"></script>
        {% else %}
            <script src="/static/js/libs/libs.js"></script>
            <script src="/static/js/app.js"></script>
        {% endif %}

        <script src="/static/jst/project_template.js"></script>
        <script src="/static/jst/project-list.js"></script>
        <script src="/static/jst/project-show.js"></script>

        <script type="text/javascript">
            var Config = {
                BASE_URL: 'http://dev.arthur.muchir.fr:8080'
            };

            var app = new App();
            app.start();
        </script>
    </body>
</html>
